
# Created by https://www.gitignore.io/api/codekit,netbeans

### CodeKit ###
# General CodeKit files to ignore
config.codekit
config.codekit3
/min

### CodeKit Patch ###
*/codekit-config.json
.codekit-cache

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# End of https://www.gitignore.io/api/codekit,netbeans