/* COLORS */

.accent {
    color:$accent;
}
.alt {
    color:$alt;
}

.light {
    color:$light;
}

.dark {
    color:$dark;
}

.dark-light {
    color:$dark_light;
}

.bg-naked{
    background-color: transparent !important;

}

.bg-accent {
    background-color:$accent;
}
.bg-alt {
    background-color:$alt;
}

.bg-light {
    background-color:$light;
}

.bg-dark {
    background-color:$dark !important;
}

.bg-dark_light {
    background-color:$dark_light;
}

.bg-light_dark {
    background-color:$light_dark;
}

.bg-c1 {
    background-color:$color_1;
}
.bg-c2 {
    background-color:$color_2;
}
.bg-c3 {
    background-color:$color_3;
}
.bg-c4 {
    background-color:$color_4;
}
.bg-c5 {
    background-color:$color_5;
}
