.gradient {

    &--accent-to-alt {
        @include linear-gradient($accent, $alt);
    }
    &--alt-to-accent {
        @include linear-gradient($alt, $accent);
    }
    &--c1-to-c2 {
        @include linear-gradient($color_1, $color_2);
    }
    &--c1-to-c3 {
        @include linear-gradient($color_1, $color_3);

    }
    &--c1-to-c4 {
        @include linear-gradient($color_1, $color_4);
    }
    &--c1-to-c5 {
        @include linear-gradient($color_1, $color_5);

    }
}
.overlay {
    &--accent {
        &_accent_to_alfa {
            @include linear-gradient($accent,rgba($accent,0) );
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
             
        }
        &_alfa_to_accent {
            @include linear-gradient(rgba($accent,0), $accent );
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &_full {

        }
        &_top-alpha {

        }
        &_bottom-alpha {

        }
        &_right-alpha {

        }
        &_left-alpha {

        }
    }
    &--alt {

        &_to-accent {

        }
        &_full {

        }
        &_top-alpha {

        }
        &_bottom-alpha {

        }
        &_right-alpha {

        }
        &_left-alpha {

        }
    }
}