.air-extralarge {

    @media (min-width:1200px)  {
        padding-top:$extralarge;
        padding-bottom:$extralarge;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$extralarge - $extralarge/3;
        padding-bottom:$extralarge - $extralarge/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:$extralarge - $extralarge/2;
        padding-bottom:$extralarge - $extralarge/2;
    }
    @media (max-width:767px) {
        padding-top:$extralarge/4; 
        padding-bottom:$extralarge/4;
    }
}

.air-extralarge_lg {

    @media (min-width:1200px)  {
        padding-top:$extralarge;
        padding-bottom:$extralarge;
    }
}

.air-extralarge_md {

    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$extralarge - $extralarge/3;
        padding-bottom:$extralarge - $extralarge/3;
    }
}

.air-extralarge_sm {

    @media (min-width:768px) and (max-width:991px) {
        padding-top:$extralarge - $extralarge/2;
        padding-bottom:$extralarge - $extralarge/2;
    }
}

.air-extralarge_xs {

    @media (max-width:767px) {
        padding-top:$extralarge/4; 
        padding-bottom:$extralarge/4;
    }
}

.air-extralarge_full {

    @media (min-width:1200px)  {
        padding:$extralarge;

    }
    @media (min-width:992px) and (max-width:1199px) {
        padding:$extralarge - $extralarge/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding:$extralarge - $extralarge/2;
    }
    @media (max-width:767px) {
        padding:$extralarge/4; 
    }
}

.air-extralarge-top {

    @media (min-width:1200px)  {
        padding-top:$extralarge;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$extralarge - $extralarge/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:$extralarge - $extralarge/2;
    }
    @media (max-width:767px) {
        padding-top:$extralarge/4;
    }
}

.air-extralarge-bottom {

    @media (min-width:1200px)  {
        padding-bottom:$extralarge;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-bottom:$extralarge - $extralarge/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-bottom:$extralarge - $extralarge/2;
    }
    @media (max-width:767px) {
        padding-bottom:$extralarge/4;
    }
}

/* LARGE */

.air-large {

    @media (min-width:1200px)  {
        padding-top:$large;
        padding-bottom:$large;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$large - $large/3;
        padding-bottom:$large - $large/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:$large - $large/2;
        padding-bottom:$large - $large/2;
    }
    @media (max-width:767px) {
        padding-top:$large/4; 
        padding-bottom:$large/4;
    }
}

.air-large_lg {

    @media (min-width:1200px)  {
        padding-top:$large;
        padding-bottom:$large;
    }
}

.air-large_md {

    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$large - $large/3;
        padding-bottom:$large - $large/3;
    }
}

.air-large_sm {

    @media (min-width:768px) and (max-width:991px) {
        padding-top:$large - $large/2;
        padding-bottom:$large - $large/2;
    }
}

.air-large_xs {

    @media (max-width:767px) {
        padding-top:$large/4; 
        padding-bottom:$large/4;
    }
}

.air-large_full {

    @media (min-width:1200px)  {
        padding:$large;

    }
    @media (min-width:992px) and (max-width:1199px) {
        padding:$large - $large/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding:$large - $large/2;
    }
    @media (max-width:767px) {
        padding:$large/4; 
    }
}

.air-large-top {

    @media (min-width:1200px)  {
        padding-top:$large;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$large - $large/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:$large - $large/2;
    }
    @media (max-width:767px) {
        padding-top:$large/4;
    }
}

.air-large-bottom {

    @media (min-width:1200px)  {
        padding-bottom:$large;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-bottom:$large - $large/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-bottom:$large - $large/2;
    }
    @media (max-width:767px) {
        padding-bottom:$large/4;
    }
}

/* END LARGE */



/* MEDIUM */

.air-medium {

    @media (min-width:1200px)  {
        padding-top:$medium;
        padding-bottom:$medium;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$medium - $medium/3;
        padding-bottom:$medium - $medium/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:$medium - $medium/2;
        padding-bottom:$medium - $medium/2;
    }
    @media (max-width:767px) {
        padding-top:$medium/4; 
        padding-bottom:$medium/4;
    }
}

.air-medium_lg {

    @media (min-width:1200px)  {
        padding-top:$medium;
        padding-bottom:$medium;
    }
}

.air-medium_md {

    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$medium - $medium/3;
        padding-bottom:$medium - $medium/3;
    }
}

.air-medium_sm {

    @media (min-width:768px) and (max-width:991px) {
        padding-top:$medium - $medium/2;
        padding-bottom:$medium - $medium/2;
    }
}

.air-medium_xs {

    @media (max-width:767px) {
        padding-top:$medium/4; 
        padding-bottom:$medium/4;
    }
}

.air-medium_full {

    @media (min-width:1200px)  {
        padding:$medium;

    }
    @media (min-width:992px) and (max-width:1199px) {
        padding:$medium - $medium/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding:$medium - $medium/2;
    }
    @media (max-width:767px) {
        padding:$medium/4; 
    }
}

.air-medium-top {

    @media (min-width:1200px)  {
        padding-top:$medium;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$medium - $medium/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:$medium - $medium/2;
    }
    @media (max-width:767px) {
        padding-top:$medium/4;
    }
}

.air-medium-bottom {

    @media (min-width:1200px)  {
        padding-bottom:$medium;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-bottom:$medium - $medium/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-bottom:$medium - $medium/2;
    }
    @media (max-width:767px) {
        padding-bottom:$medium/4;
    }
}

/* END MEDIUM */

/* SMALL */

.air-small {

    @media (min-width:1200px)  {
        padding-top:$small;
        padding-bottom:$small;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$small - $small/3;
        padding-bottom:$small - $small/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:$small - $small/2;
        padding-bottom:$small - $small/2;
    }
    @media (max-width:767px) {
        padding-top:$small/4; 
        padding-bottom:$small/4;
    }
}

.air-small_lg {

    @media (min-width:1200px)  {
        padding-top:$small;
        padding-bottom:$small;
    }
}

.air-small_md {

    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$small - $small/3;
        padding-bottom:$small - $small/3;
    }
}

.air-small_sm {

    @media (min-width:768px) and (max-width:991px) {
        padding-top:$small - $small/2;
        padding-bottom:$small - $small/2;
    }
}

.air-small_xs {

    @media (max-width:767px) {
        padding-top:$small/4; 
        padding-bottom:$small/4;
    }
}

.air-small_full {

    @media (min-width:1200px)  {
        padding:$small;

    }
    @media (min-width:992px) and (max-width:1199px) {
        padding:$small - $small/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding:$small - $small/2;
    }
    @media (max-width:767px) {
        padding:$small/4; 
    }
}

.air-small-top {

    @media (min-width:1200px)  {
        padding-top:$small;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$small - $small/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:$small - $small/2;
    }
    @media (max-width:767px) {
        padding-top:$small/4;
    }
}

.air-small-bottom {

    @media (min-width:1200px)  {
        padding-bottom:$small;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-bottom:$small - $small/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-bottom:$small - $small/2;
    }
    @media (max-width:767px) {
        padding-bottom:$small/4;
    }
}

/* END SMALL */

/* EXTRASMALL */

.air-extrasmall {

    @media (min-width:1200px)  {
        padding-top:$extrasmall;
        padding-bottom:$extrasmall;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$extrasmall - $extrasmall/3;
        padding-bottom:$extrasmall - $extrasmall/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:$extrasmall - $extrasmall/2;
        padding-bottom:$extrasmall - $extrasmall/2;
    }
    @media (max-width:767px) {
        padding-top:$extrasmall/4; 
        padding-bottom:$extrasmall/4;
    }
}

.air-extrasmall_lg {

    @media (min-width:1200px)  {
        padding-top:$extrasmall;
        padding-bottom:$extrasmall;
    }
}

.air-extrasmall_md {

    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$extrasmall - $extrasmall/3;
        padding-bottom:$extrasmall - $extrasmall/3;
    }
}

.air-extrasmall_sm {

    @media (min-width:768px) and (max-width:991px) {
        padding-top:$extrasmall - $extrasmall/2;
        padding-bottom:$extrasmall - $extrasmall/2;
    }
}

.air-extrasmall_xs {

    @media (max-width:767px) {
        padding-top:$extrasmall/4; 
        padding-bottom:$extrasmall/4;
    }
}

.air-extrasmall_full {

    @media (min-width:1200px)  {
        padding:$extrasmall;

    }
    @media (min-width:992px) and (max-width:1199px) {
        padding:$extrasmall - $extrasmall/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding:$extrasmall - $extrasmall/2;
    }
    @media (max-width:767px) {
        padding:$extrasmall/4; 
    }
}

.air-extrasmall-top {

    @media (min-width:1200px)  {
        padding-top:$extrasmall;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-top:$extrasmall - $extrasmall/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:$extrasmall - $extrasmall/2;
    }
    @media (max-width:767px) {
        padding-top:$extrasmall/4;
    }
}

.air-extrasmall-bottom {

    @media (min-width:1200px)  {
        padding-bottom:$extrasmall;
    }
    @media (min-width:992px) and (max-width:1199px) {
        padding-bottom:$extrasmall - $extrasmall/3;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-bottom:$extrasmall - $extrasmall/2;
    }
    @media (max-width:767px) {
        padding-bottom:$extrasmall/4;
    }
}

/* END EXTRASMALL */

.no-air-full {
    padding:0px !important;
}

.no-air-top {
    padding-top:0px !important;
}

.no-air-bottom {
    padding-bottom:0px !important;
}

.no-air-left {
    padding-left:0px !important;
}

.no-air-right {
    padding-right:0px !important;
}