/* VARIABLES */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
/* COLORS */
.accent {
  color: #4229ee; }

.alt {
  color: #6eefa7; }

.light {
  color: #ffffff; }

.dark {
  color: #323232; }

.dark_light {
  color: #656565; }

.bg-accent {
  background-color: #4229ee; }

.bg-alt {
  background-color: #6eefa7; }

.bg-light {
  background-color: #ffffff; }

.bg-dark {
  background-color: #323232; }

.bg-dark_light {
  background-color: #656565; }

.bg-light_dark {
  background-color: #f5f5f5; }

.bg-c1 {
  background-color: #3D315B; }

.bg-c2 {
  background-color: #CE5374; }

.bg-c3 {
  background-color: #d29840; }

.bg-c4 {
  background-color: #FFDF64; }

.bg-c5 {
  background-color: #A2D3C2; }

/* MIXINS */
@media (min-width: 1200px) {
  .air-extralarge {
    padding-top: 100px;
    padding-bottom: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-extralarge {
    padding-top: 66.6666666667px;
    padding-bottom: 66.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-extralarge {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (max-width: 767px) {
  .air-extralarge {
    padding-top: 25px;
    padding-bottom: 25px; } }

@media (min-width: 1200px) {
  .air-extralarge_lg {
    padding-top: 100px;
    padding-bottom: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-extralarge_md {
    padding-top: 66.6666666667px;
    padding-bottom: 66.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-extralarge_sm {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (max-width: 767px) {
  .air-extralarge_xs {
    padding-top: 25px;
    padding-bottom: 25px; } }

@media (min-width: 1200px) {
  .air-extralarge_full {
    padding: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-extralarge_full {
    padding: 66.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-extralarge_full {
    padding: 50px; } }

@media (max-width: 767px) {
  .air-extralarge_full {
    padding: 25px; } }

@media (min-width: 1200px) {
  .air-extralarge-top {
    padding-top: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-extralarge-top {
    padding-top: 66.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-extralarge-top {
    padding-top: 50px; } }

@media (max-width: 767px) {
  .air-extralarge-top {
    padding-top: 25px; } }

@media (min-width: 1200px) {
  .air-extralarge-bottom {
    padding-bottom: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-extralarge-bottom {
    padding-bottom: 66.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-extralarge-bottom {
    padding-bottom: 50px; } }

@media (max-width: 767px) {
  .air-extralarge-bottom {
    padding-bottom: 25px; } }

/* LARGE */
@media (min-width: 1200px) {
  .air-large {
    padding-top: 70px;
    padding-bottom: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-large {
    padding-top: 46.6666666667px;
    padding-bottom: 46.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-large {
    padding-top: 35px;
    padding-bottom: 35px; } }

@media (max-width: 767px) {
  .air-large {
    padding-top: 17.5px;
    padding-bottom: 17.5px; } }

@media (min-width: 1200px) {
  .air-large_lg {
    padding-top: 70px;
    padding-bottom: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-large_md {
    padding-top: 46.6666666667px;
    padding-bottom: 46.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-large_sm {
    padding-top: 35px;
    padding-bottom: 35px; } }

@media (max-width: 767px) {
  .air-large_xs {
    padding-top: 17.5px;
    padding-bottom: 17.5px; } }

@media (min-width: 1200px) {
  .air-large_full {
    padding: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-large_full {
    padding: 46.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-large_full {
    padding: 35px; } }

@media (max-width: 767px) {
  .air-large_full {
    padding: 17.5px; } }

@media (min-width: 1200px) {
  .air-large-top {
    padding-top: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-large-top {
    padding-top: 46.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-large-top {
    padding-top: 35px; } }

@media (max-width: 767px) {
  .air-large-top {
    padding-top: 17.5px; } }

@media (min-width: 1200px) {
  .air-large-bottom {
    padding-bottom: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-large-bottom {
    padding-bottom: 46.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-large-bottom {
    padding-bottom: 35px; } }

@media (max-width: 767px) {
  .air-large-bottom {
    padding-bottom: 17.5px; } }

/* END LARGE */
/* MEDIUM */
@media (min-width: 1200px) {
  .air-medium {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-medium {
    padding-top: 33.3333333333px;
    padding-bottom: 33.3333333333px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-medium {
    padding-top: 25px;
    padding-bottom: 25px; } }

@media (max-width: 767px) {
  .air-medium {
    padding-top: 12.5px;
    padding-bottom: 12.5px; } }

@media (min-width: 1200px) {
  .air-medium_lg {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-medium_md {
    padding-top: 33.3333333333px;
    padding-bottom: 33.3333333333px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-medium_sm {
    padding-top: 25px;
    padding-bottom: 25px; } }

@media (max-width: 767px) {
  .air-medium_xs {
    padding-top: 12.5px;
    padding-bottom: 12.5px; } }

@media (min-width: 1200px) {
  .air-medium_full {
    padding: 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-medium_full {
    padding: 33.3333333333px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-medium_full {
    padding: 25px; } }

@media (max-width: 767px) {
  .air-medium_full {
    padding: 12.5px; } }

@media (min-width: 1200px) {
  .air-medium-top {
    padding-top: 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-medium-top {
    padding-top: 33.3333333333px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-medium-top {
    padding-top: 25px; } }

@media (max-width: 767px) {
  .air-medium-top {
    padding-top: 12.5px; } }

@media (min-width: 1200px) {
  .air-medium-bottom {
    padding-bottom: 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-medium-bottom {
    padding-bottom: 33.3333333333px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-medium-bottom {
    padding-bottom: 25px; } }

@media (max-width: 767px) {
  .air-medium-bottom {
    padding-bottom: 12.5px; } }

/* END MEDIUM */
/* SMALL */
@media (min-width: 1200px) {
  .air-small {
    padding-top: 30px;
    padding-bottom: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-small {
    padding-top: 20px;
    padding-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-small {
    padding-top: 15px;
    padding-bottom: 15px; } }

@media (max-width: 767px) {
  .air-small {
    padding-top: 7.5px;
    padding-bottom: 7.5px; } }

@media (min-width: 1200px) {
  .air-small_lg {
    padding-top: 30px;
    padding-bottom: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-small_md {
    padding-top: 20px;
    padding-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-small_sm {
    padding-top: 15px;
    padding-bottom: 15px; } }

@media (max-width: 767px) {
  .air-small_xs {
    padding-top: 7.5px;
    padding-bottom: 7.5px; } }

@media (min-width: 1200px) {
  .air-small_full {
    padding: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-small_full {
    padding: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-small_full {
    padding: 15px; } }

@media (max-width: 767px) {
  .air-small_full {
    padding: 7.5px; } }

@media (min-width: 1200px) {
  .air-small-top {
    padding-top: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-small-top {
    padding-top: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-small-top {
    padding-top: 15px; } }

@media (max-width: 767px) {
  .air-small-top {
    padding-top: 7.5px; } }

@media (min-width: 1200px) {
  .air-small-bottom {
    padding-bottom: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-small-bottom {
    padding-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-small-bottom {
    padding-bottom: 15px; } }

@media (max-width: 767px) {
  .air-small-bottom {
    padding-bottom: 7.5px; } }

/* END SMALL */
/* EXTRASMALL */
@media (min-width: 1200px) {
  .air-extrasmall {
    padding-top: 15px;
    padding-bottom: 15px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-extrasmall {
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-extrasmall {
    padding-top: 7.5px;
    padding-bottom: 7.5px; } }

@media (max-width: 767px) {
  .air-extrasmall {
    padding-top: 3.75px;
    padding-bottom: 3.75px; } }

@media (min-width: 1200px) {
  .air-extrasmall_lg {
    padding-top: 15px;
    padding-bottom: 15px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-extrasmall_md {
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-extrasmall_sm {
    padding-top: 7.5px;
    padding-bottom: 7.5px; } }

@media (max-width: 767px) {
  .air-extrasmall_xs {
    padding-top: 3.75px;
    padding-bottom: 3.75px; } }

@media (min-width: 1200px) {
  .air-extrasmall_full {
    padding: 15px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-extrasmall_full {
    padding: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-extrasmall_full {
    padding: 7.5px; } }

@media (max-width: 767px) {
  .air-extrasmall_full {
    padding: 3.75px; } }

@media (min-width: 1200px) {
  .air-extrasmall-top {
    padding-top: 15px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-extrasmall-top {
    padding-top: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-extrasmall-top {
    padding-top: 7.5px; } }

@media (max-width: 767px) {
  .air-extrasmall-top {
    padding-top: 3.75px; } }

@media (min-width: 1200px) {
  .air-extrasmall-bottom {
    padding-bottom: 15px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .air-extrasmall-bottom {
    padding-bottom: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .air-extrasmall-bottom {
    padding-bottom: 7.5px; } }

@media (max-width: 767px) {
  .air-extrasmall-bottom {
    padding-bottom: 3.75px; } }

/* END EXTRASMALL */
.no-air-full {
  padding: 0px !important; }

.no-air-top {
  padding-top: 0px !important; }

.no-air-bottom {
  padding-bottom: 0px !important; }

.no-air-left {
  padding-left: 0px !important; }

.no-air-right {
  padding-right: 0px !important; }

@media (min-width: 1200px) {
  .space-extralarge {
    margin-top: 100px;
    margin-bottom: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-extralarge {
    margin-top: 66.6666666667px;
    margin-bottom: 66.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-extralarge {
    margin-top: 50px;
    margin-bottom: 50px; } }

@media (max-width: 767px) {
  .space-extralarge {
    margin-top: 25px;
    margin-bottom: 25px; } }

@media (min-width: 1200px) {
  .space-extralarge_lg {
    margin-top: 100px;
    margin-bottom: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-extralarge_md {
    margin-top: 66.6666666667px;
    margin-bottom: 66.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-extralarge_sm {
    margin-top: 50px;
    margin-bottom: 50px; } }

@media (max-width: 767px) {
  .space-extralarge_xs {
    margin-top: 25px;
    margin-bottom: 25px; } }

@media (min-width: 1200px) {
  .space-extralarge_full {
    margin: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-extralarge_full {
    margin: 66.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-extralarge_full {
    margin: 50px; } }

@media (max-width: 767px) {
  .space-extralarge_full {
    margin: 25px; } }

@media (min-width: 1200px) {
  .space-extralarge-top {
    margin-top: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-extralarge-top {
    margin-top: 66.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-extralarge-top {
    margin-top: 50px; } }

@media (max-width: 767px) {
  .space-extralarge-top {
    margin-top: 25px; } }

@media (min-width: 1200px) {
  .space-extralarge-bottom {
    margin-bottom: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-extralarge-bottom {
    margin-bottom: 66.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-extralarge-bottom {
    margin-bottom: 50px; } }

@media (max-width: 767px) {
  .space-extralarge-bottom {
    margin-bottom: 25px; } }

/* LARGE */
@media (min-width: 1200px) {
  .space-large {
    margin-top: 70px;
    margin-bottom: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-large {
    margin-top: 46.6666666667px;
    margin-bottom: 46.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-large {
    margin-top: 35px;
    margin-bottom: 35px; } }

@media (max-width: 767px) {
  .space-large {
    margin-top: 17.5px;
    margin-bottom: 17.5px; } }

@media (min-width: 1200px) {
  .space-large_lg {
    margin-top: 70px;
    margin-bottom: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-large_md {
    margin-top: 46.6666666667px;
    margin-bottom: 46.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-large_sm {
    margin-top: 35px;
    margin-bottom: 35px; } }

@media (max-width: 767px) {
  .space-large_xs {
    margin-top: 17.5px;
    margin-bottom: 17.5px; } }

@media (min-width: 1200px) {
  .space-large_full {
    margin: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-large_full {
    margin: 46.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-large_full {
    margin: 35px; } }

@media (max-width: 767px) {
  .space-large_full {
    margin: 17.5px; } }

@media (min-width: 1200px) {
  .space-large-top {
    margin-top: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-large-top {
    margin-top: 46.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-large-top {
    margin-top: 35px; } }

@media (max-width: 767px) {
  .space-large-top {
    margin-top: 17.5px; } }

@media (min-width: 1200px) {
  .space-large-bottom {
    margin-bottom: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-large-bottom {
    margin-bottom: 46.6666666667px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-large-bottom {
    margin-bottom: 35px; } }

@media (max-width: 767px) {
  .space-large-bottom {
    margin-bottom: 17.5px; } }

/* END LARGE */
/* MEDIUM */
@media (min-width: 1200px) {
  .space-medium {
    margin-top: 50px;
    margin-bottom: 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-medium {
    margin-top: 33.3333333333px;
    margin-bottom: 33.3333333333px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-medium {
    margin-top: 25px;
    margin-bottom: 25px; } }

@media (max-width: 767px) {
  .space-medium {
    margin-top: 12.5px;
    margin-bottom: 12.5px; } }

@media (min-width: 1200px) {
  .space-medium_lg {
    margin-top: 50px;
    margin-bottom: 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-medium_md {
    margin-top: 33.3333333333px;
    margin-bottom: 33.3333333333px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-medium_sm {
    margin-top: 25px;
    margin-bottom: 25px; } }

@media (max-width: 767px) {
  .space-medium_xs {
    margin-top: 12.5px;
    margin-bottom: 12.5px; } }

@media (min-width: 1200px) {
  .space-medium_full {
    margin: 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-medium_full {
    margin: 33.3333333333px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-medium_full {
    margin: 25px; } }

@media (max-width: 767px) {
  .space-medium_full {
    margin: 12.5px; } }

@media (min-width: 1200px) {
  .space-medium-top {
    margin-top: 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-medium-top {
    margin-top: 33.3333333333px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-medium-top {
    margin-top: 25px; } }

@media (max-width: 767px) {
  .space-medium-top {
    margin-top: 12.5px; } }

@media (min-width: 1200px) {
  .space-medium-bottom {
    margin-bottom: 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-medium-bottom {
    margin-bottom: 33.3333333333px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-medium-bottom {
    margin-bottom: 25px; } }

@media (max-width: 767px) {
  .space-medium-bottom {
    margin-bottom: 12.5px; } }

/* END MEDIUM */
/* SMALL */
@media (min-width: 1200px) {
  .space-small {
    margin-top: 30px;
    margin-bottom: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-small {
    margin-top: 20px;
    margin-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-small {
    margin-top: 15px;
    margin-bottom: 15px; } }

@media (max-width: 767px) {
  .space-small {
    margin-top: 7.5px;
    margin-bottom: 7.5px; } }

@media (min-width: 1200px) {
  .space-small_lg {
    margin-top: 30px;
    margin-bottom: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-small_md {
    margin-top: 20px;
    margin-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-small_sm {
    margin-top: 15px;
    margin-bottom: 15px; } }

@media (max-width: 767px) {
  .space-small_xs {
    margin-top: 7.5px;
    margin-bottom: 7.5px; } }

@media (min-width: 1200px) {
  .space-small_full {
    margin: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-small_full {
    margin: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-small_full {
    margin: 15px; } }

@media (max-width: 767px) {
  .space-small_full {
    margin: 7.5px; } }

@media (min-width: 1200px) {
  .space-small-top {
    margin-top: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-small-top {
    margin-top: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-small-top {
    margin-top: 15px; } }

@media (max-width: 767px) {
  .space-small-top {
    margin-top: 7.5px; } }

@media (min-width: 1200px) {
  .space-small-bottom {
    margin-bottom: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-small-bottom {
    margin-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-small-bottom {
    margin-bottom: 15px; } }

@media (max-width: 767px) {
  .space-small-bottom {
    margin-bottom: 7.5px; } }

/* END SMALL */
/* EXTRASMALL */
@media (min-width: 1200px) {
  .space-extrasmall {
    margin-top: 15px;
    margin-bottom: 15px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-extrasmall {
    margin-top: 10px;
    margin-bottom: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-extrasmall {
    margin-top: 7.5px;
    margin-bottom: 7.5px; } }

@media (max-width: 767px) {
  .space-extrasmall {
    margin-top: 3.75px;
    margin-bottom: 3.75px; } }

@media (min-width: 1200px) {
  .space-extrasmall_lg {
    margin-top: 15px;
    margin-bottom: 15px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-extrasmall_md {
    margin-top: 10px;
    margin-bottom: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-extrasmall_sm {
    margin-top: 7.5px;
    margin-bottom: 7.5px; } }

@media (max-width: 767px) {
  .space-extrasmall_xs {
    margin-top: 3.75px;
    margin-bottom: 3.75px; } }

@media (min-width: 1200px) {
  .space-extrasmall_full {
    margin: 15px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-extrasmall_full {
    margin: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-extrasmall_full {
    margin: 7.5px; } }

@media (max-width: 767px) {
  .space-extrasmall_full {
    margin: 3.75px; } }

@media (min-width: 1200px) {
  .space-extrasmall-top {
    margin-top: 15px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-extrasmall-top {
    margin-top: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-extrasmall-top {
    margin-top: 7.5px; } }

@media (max-width: 767px) {
  .space-extrasmall-top {
    margin-top: 3.75px; } }

@media (min-width: 1200px) {
  .space-extrasmall-bottom {
    margin-bottom: 15px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .space-extrasmall-bottom {
    margin-bottom: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .space-extrasmall-bottom {
    margin-bottom: 7.5px; } }

@media (max-width: 767px) {
  .space-extrasmall-bottom {
    margin-bottom: 3.75px; } }

/* END EXTRASMALL */
.no-space-full {
  margin: 0px !important; }

.no-space-top {
  margin-top: 0px !important; }

.no-space-bottom {
  margin-bottom: 0px !important; }

.no-space-left {
  margin-left: 0px !important; }

.no-space-right {
  margin-right: 0px !important; }

body {
  font-size: large; }

@media (min-width: 992px) and (max-width: 1999px) {
  body {
    font-size: medium;
    transition: .9s; } }

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: small;
    transition: .9s; } }

@media (max-width: 767px) {
  body {
    font-size: small;
    transition: .9s; } }

.bold {
  font-weight: bold; }

.title {
  font-family: "Montserrat", sans-serif;
  margin: 0; }
  .title--xl {
    font-size: 4.25em; }
  .title--l {
    font-size: 3.375em; }
  .title--m {
    font-size: 2em; }
  .title--s {
    font-size: 1.5em; }
  .title--xs {
    font-size: 1.125em; }

.overtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  letter-spacing: 5; }
  .overtitle--xl {
    font-size: 4.25em; }
  .overtitle--l {
    font-size: 3.375em; }
  .overtitle--m {
    font-size: 2em; }
  .overtitle--s {
    font-size: 1.5em; }
  .overtitle--xs {
    font-size: 1.125em; }

.p--l {
  font-size: 20px; }

.p--m {
  font-size: 16px; }

.p--s {
  font-size: 12px; }

.link--xl {
  font-size: 4.25em; }

.link--l {
  font-size: 3.375em; }

.link--m {
  font-size: 2em; }

.link--s {
  font-size: 1.5em; }

.link--xs {
  font-size: 1.125em; }

/* COMPONENTS */
.btn {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-align: center;
  border: none; }
  .btn--block {
    display: block; }
  .btn--inline {
    display: inline-block; }
    @media (max-width: 991px) {
      .btn--inline {
        display: block; } }
  .btn--rounded {
    border-radius: 50px; }
  .btn--xl {
    font-size: 1.125em; }
  .btn--default {
    padding: 0.938em 1.125em;
    font-size: 1em; }
    .btn--default:hover {
      color: #ffffff !important; }
    .btn--default_accent {
      background-color: #4229ee;
      color: #ffffff; }
      .btn--default_accent:hover {
        background-color: #200da4 !important; }
    .btn--default_alt {
      background-color: #6eefa7;
      color: #ffffff; }
      .btn--default_alt:hover {
        background-color: #19de70; }
    .btn--default_light {
      background-color: #ffffff;
      color: #4229ee; }
      .btn--default_light:hover {
        background-color: #e6e5e5; }
    .btn--default_c1 {
      background-color: #3D315B;
      color: #ffffff; }
      .btn--default_c1:hover {
        background-color: #271f3a; }
    .btn--default_c2 {
      background-color: #CE5374;
      color: #ffffff; }
      .btn--default_c2:hover {
        background-color: #b93558; }
    .btn--default_c3 {
      background-color: #d29840;
      color: #ffffff; }
      .btn--default_c3:hover {
        background-color: #b47e2b; }
    .btn--default_c4 {
      background-color: #FFDF64;
      color: #ffffff; }
      .btn--default_c4:hover {
        background-color: #ffd431; }
    .btn--default_c5 {
      background-color: #A2D3C2;
      color: #ffffff; }
      .btn--default_c5:hover {
        background-color: #7fc3ab; }
    .btn--default--s {
      padding: 10px 25px;
      font-size: 0.7em; }
  .btn--outline {
    padding: 0.938em 1.125em;
    font-size: 1em;
    background-color: transparent !important;
    border: 2px solid; }
    .btn--outline_accent {
      border-color: #4229ee;
      color: #4229ee; }
      .btn--outline_accent:hover {
        border-color: #4229ee;
        background-color: #4229ee !important;
        color: #ffffff; }
    .btn--outline_alt {
      border-color: #6eefa7;
      color: #6eefa7; }
      .btn--outline_alt:hover {
        border-color: #6eefa7;
        background-color: #6eefa7 !important;
        color: #ffffff; }
    .btn--outline_light {
      border-color: #ffffff;
      color: #ffffff; }
      .btn--outline_light:hover {
        border-color: #ffffff;
        background-color: #ffffff !important;
        color: #4229ee; }
    .btn--outline_c1 {
      border-color: #3D315B;
      color: #3D315B; }
      .btn--outline_c1:hover {
        border-color: #3D315B;
        background-color: #3D315B !important;
        color: #ffffff; }
    .btn--outline_c2 {
      border-color: #CE5374;
      color: #CE5374; }
      .btn--outline_c2:hover {
        border-color: #CE5374;
        background-color: #CE5374 !important;
        color: #ffffff; }
    .btn--outline_c3 {
      border-color: #d29840;
      color: #d29840; }
      .btn--outline_c3:hover {
        border-color: #d29840;
        background-color: #d29840 !important;
        color: #ffffff; }
    .btn--outline_c4 {
      border-color: #FFDF64;
      color: #FFDF64; }
      .btn--outline_c4:hover {
        border-color: #FFDF64;
        background-color: #FFDF64 !important;
        color: #ffffff; }
    .btn--outline_c5 {
      border-color: #A2D3C2;
      color: #A2D3C2; }
      .btn--outline_c5:hover {
        border-color: #A2D3C2;
        background-color: #A2D3C2 !important;
        color: #ffffff; }

.gradient--accent-to-alt {
  background: linear-gradient(#4229ee, #6eefa7); }

.gradient--alt-to-accent {
  background: linear-gradient(#6eefa7, #4229ee); }

.gradient--c1-to-c2 {
  background: linear-gradient(#3D315B, #CE5374); }

.gradient--c1-to-c3 {
  background: linear-gradient(#3D315B, #d29840); }

.gradient--c1-to-c4 {
  background: linear-gradient(#3D315B, #FFDF64); }

.gradient--c1-to-c5 {
  background: linear-gradient(#3D315B, #A2D3C2); }

.overlay--accent_accent_to_alfa {
  background: linear-gradient(#4229ee, rgba(66, 41, 238, 0));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.overlay--accent_alfa_to_accent {
  background: linear-gradient(rgba(66, 41, 238, 0), #4229ee);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.grundel-container {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: auto auto auto; }

.wrapper {
  flex-wrap: wrap;
  display: flex; }
  .wrapper--flex_center-top {
    justify-content: center;
    align-items: flex-start; }
  .wrapper--flex_center-bottom {
    justify-content: center;
    align-items: flex-end; }
  .wrapper--flex_center-center {
    justify-content: center;
    align-items: center; }

.flex-unit {
  flex: 1; }
